<?xml version="1.0"?>

<configuration>

  <appSettings>
    <add key="dbpath" value="server=SEPEHR-PC\SEPEHRPC;Uid=Sa;Pwd=123;DataBAse=Machine;"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
    <system.web>
      <compilation debug="false" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
